ipykernel==5.3.4
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
notebook==6.3.0
nsepy==0.8
nsepython==0.0.972
nsetools==1.0.11
numpy==1.20.1
pandas==1.2.4
pywhatkit==5.4
schedule==1.1.0
dateutils==0.6.12
tqdm==4.59.0
